<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Getting Started: Serving Web Content</title>
    <script>
      var doPost = function () {
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "https://salesforcedebugger.co.in/analyse");

        xhr.setRequestHeader("Accept", "application/json");
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onload = () => console.log(xhr.responseText);

        let log = document.getElementById("rawLog");
        let rawLog = JSON.stringify(log.value);
        let data = `{"data":${rawLog}}`;
        xhr.send(data);
      };
    </script>
  </head>
  <body>
    <!-- <form action="" method="post"> -->
    <textarea id="rawLog" name="rawLog" cols="150" rows="10"> </textarea>
    <button onclick="doPost();" id="submitButton">Submit</button>
    <!-- </form> -->
  </body>
</html>
